.keyboard{

    &__simbol-key:hover{
        background-color:var(--keyboard-symbol-hover);
        transform: translateY(-2px);
        box-shadow:  0px 0px 20px var(--keyboard-led);
        color: var(--keyboard-led);
        cursor: pointer;
    }
    &__special-key:hover{
        background-color:var(--keyboard-special-hover) ;
        cursor: pointer;
    }
    &__simbol-key:active{
        transform: translateY(2px);
        background-color:var(--keyboard-symbol-active);
        box-shadow:  0px 0px 10px var(--keyboard-led);


    }
    &__special-key:active{
        background-color:rgba(201, 213, 228, 0.726);

    }

}