* {
    font-family: 'Ubuntu';
    font-style: normal;
    text-decoration: none;   
    padding: 0;
    margin: 0;
}

:root {
    // BASIC
    --header-title: rgba(46, 48, 48, 0.63);
    --keyboard-bg-wrapper: #ebeffa; 
    --keyboard-bg-color: #ebeffa; 
    --keyboard-text-color: rgba(46, 48, 48, 0.63);
    --input-bg-color: hsl(222, 57%, 95%); 
    --input-shadow: inset 2px 3px 10px rgb(212, 212, 212), inset -4px -5px 7px rgb(255, 255, 255);
    --input-text-color:  hsla(0, 0%, 0%, 0.596);
    --input-placeholder-color:  rgba(122, 122, 122, 0.384);
    --keyboard-led: #ce4141;
    --keyboard-bg-container: rgb(11, 110, 190);
    --keyboard-shadow: 12px 15px 10px rgb(223, 222, 222),-2px -2px 10px rgb(223, 222, 222);
    --keyboard-border: 2px solid rgb(240, 244, 247);
    --keyboard-symbol-color: rgb(237, 241, 245);
    --keyboard-symbol-shadow: 2px 3px 10px rgb(204, 204, 204),-4px -5px 7px rgb(255, 255, 255);
    --keyboard-special-color: rgba(237, 241, 245, 0.5);
    --keyboard-symbol-hover:rgb(218, 221, 224);
    --keyboard-symbol-active:rgba(177, 187, 206, 0.315);
    --keyboard-special-hover:rgba(217, 221, 225, 0.08);


    // RED
    // --header-title: rgba(228, 233, 233, 0.87);
    // --keyboard-bg-wrapper: hsl(167, 58%, 76%);
    // --keyboard-bg-color: hsl(167, 74%, 59%);
    // --keyboard-text-color: rgba(255, 255, 255, 0.692);
    // --input-bg-color: hsl(167, 74%, 59%);
    // --input-shadow: inset 2px 3px 10px hsl(167, 58%, 40%), inset -4px -5px 7px hsl(167, 100%, 71%);
    // --input-text-color:  rgba(52, 65, 54, 0.911);
    // --input-placeholder-color:  rgba(68, 68, 68, 0.507);
    // --keyboard-led: #2533f4;
    // --keyboard-bg-container: rgb(11, 110, 190);
    // --keyboard-shadow: 12px 15px 10px hsl(167, 56%, 40%), -2px -2px 10px hsl(167, 56%, 40%);
    // --keyboard-border: 2px solid hsl(167, 58%, 45%);
    // --keyboard-symbol-color: hsl(167, 69%, 58%);
    // --keyboard-symbol-shadow: 2px 3px 10px hsl(167, 53%, 33%), -4px -5px 7px hsl(167, 100%, 71%);
    // --keyboard-special-color: hsla(167, 51%, 61%, 0.452);
    // --keyboard-symbol-hover: hsl(167, 100%, 83%);
    // --keyboard-symbol-active: hsla(229, 34%, 63%, 0.671);
    // --keyboard-special-hover: #a8a8a8a1;

    // BLACK
    // --header-title: hsla(180, 10%, 90%, 0.87);
    // --keyboard-bg-wrapper: hsl(170, 5%, 22%);
    // --keyboard-bg-color: hsl(165, 5%, 15%);
    // --keyboard-text-color: hsla(0, 0%, 100%, 0.692);
    // --input-bg-color: hsl(165, 5%, 15%);
    // --input-shadow: inset 2px 3px 10px hsl(180, 6%, 7%), inset -2px -3px 7px hsl(170, 5%, 22%);
    // --input-text-color:  hsla(120, 2%, 75%, 0.979);
    // --input-placeholder-color:  rgba(141, 141, 141, 0.507);
    // --keyboard-led: #940000;
    // --keyboard-bg-container: rgb(11, 110, 190);
    // --keyboard-shadow: 12px 15px 10px hsl(180, 6%, 7%), -2px -2px 10px hsl(170, 5%, 22%);
    // --keyboard-border: 2px solid hsl(160, 5%, 13%);
    // --keyboard-symbol-color: hsl(165, 6%, 13%);
    // --keyboard-symbol-shadow: 2px 3px 10px hsl(180, 6%, 10%), -4px -5px 7px hsl(168, 5%, 21%);
    // --keyboard-symbol-hover: hsl(171, 4%, 33%);
    // --keyboard-symbol-active: hsl(165, 4%, 21%);
    // --keyboard-special-color: hsla(165, 5%, 15%, 0.836);
    // --keyboard-special-hover: hsla(171, 4%, 33%, 0.61);
}


input[type="color" i]::-webkit-color-swatch {
    border: none;
    border-radius: 25px;
}
input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
}

html, body {
    padding: 25px 0 0 ;
    background: var(--keyboard-bg-wrapper);
    font-size: 16px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 25px;
}

textarea:focus{
    outline: none;
}

@media (max-width: 768px) {
    html, body {
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    html, body {
        font-size: 8px;
    }
}

.fa{
    font-size: 25px;
    min-width: 25px;
    min-height: 25px;
    color: #ebeffa;

    &:hover{
        color: rgb(255 62 62);
    }
}