@import "base";
@import "active";
@import "adaptive";


:root {
    --keyboard-bg-color: #ebeffa; // значение по умолчанию
    --input-bg-color: rgb(237 241 250); // значение по умолчанию
    --input-shadow: inset 2px 3px 10px rgb(212, 212, 212), inset -4px -5px 7px rgb(255, 255, 255);
    --input-text-color:  rgba(0, 0, 0, 0.596);
}

.header {
    padding: 25px;

    &__title {
        font-size: 2.6rem;
        color: rgba(46, 48, 48, 0.63);
    }
}

.keyboard {
    padding: 50px 25px;
    background-color: var(--keyboard-bg-color);
    border-radius: 20px;


    &__input-container {
        margin: 0 0 34px;
    }

    &__input {
        background-color:var(--input-bg-color);
        width: calc(100% - 50px);
        min-height: 28px;
        max-height: 150px;
        resize: vertical;
        margin: 0;
        padding: 10px 25px;

        border: none;
        border-radius: 12px;
        box-shadow: var(--input-shadow);

        font-weight: 400;
        font-size: 1.5rem;
        color: var(--input-text-color);

    }

    &__input::placeholder{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 300;
        color:  rgba(122, 122, 122, 0.384);

    }
}

.keyboard {

    &__container {
        background-color: rgb(234, 239, 243);
        padding: 15px 20px;
        border-radius: 15px;
        border: 2px solid rgb(240, 244, 247);
        box-shadow: 12px 15px 10px rgb(223, 222, 222),-2px -2px 10px rgb(223, 222, 222);
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.6fr;
        grid-template-rows: auto;  
        gap : 0.75rem;
    }

    &__simbol {
        height: 3.75rem;
        border-radius: 7px;
    }

    &__simbol-key {
        width: 100%;
        height: 100%;
        border: none;
        padding: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        border-radius: 7px;
        
        color: rgba(46, 48, 48, 0.63);
        background-color: rgb(237, 241, 245);
        box-shadow: 2px 3px 10px rgb(204, 204, 204),-4px -5px 7px rgb(255, 255, 255);


    }
    
    &__special-container{
        display: grid; 
        grid-template-columns: 1fr 1fr;   
    }

    &__special{
        background-image: url(/more/img/texture.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
        position: relative;
        
    }
    

    &__special-key {
        background-color: rgba(237, 241, 245, 0.5);
    }

    &__special-key-left {
        border-radius: 7px 0 0 7px;
    }

    &__special-key-right {
        border-radius: 0px 7px 7px 0px;
        box-shadow: 2px 3px 10px rgb(204, 204, 204),0px -5px 7px rgb(255, 255, 255);
    }

    &__simbol-subtext {
        font-size: 1.2rem;
    }

    &__simbol-text {
        font-size: 1.5rem;
        text-align: center;
    }

    &__special-text {
        font-size: 1.2rem;
    }

    &__space{
        padding: 0.6rem;
    }

}

.keyboard {

    &__second-row {
        grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr;
    } 

    &__third-row{
        grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    }

    &__fourth-row{
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__fifth-row{
        grid-template-columns: 1fr 1fr 1fr 6.9fr 1fr 1fr 1fr 1fr 1fr;
    }
}


.toggle {
    display: flex;
    position: absolute;
    width: 100%;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.171);
    overflow: hidden;
    width: 8px;

    
    &__on, &__off {
        min-width: 8px;
        min-height: 8px;

    }

    &__on {
        background-color: #9afcbb93;
        position: relative;
        
        &.active{
            left: -8px;
        }
    }

    &__off {
        background-color: #ff959593;
    }
}

.menu,.menu__language,.menu__color {
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 50px;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    &__container {
    }

    // &__burger{
    //     margin-top: 40px;
    //     max-width: 25px;
    //     width: 100%;
    //     max-height: 20px;
    //     height: 100%;
    //     margin-bottom: 100px;

    //     &:hover{
    //         .menu__burger_icon{
    //             background-color: red;
    //         }
    //     }

    //     &_icon{
    //         background-color: white;
    //         min-width: 25px;
    //         min-height: 3px;
    //         position: relative;
    //         top: 8px;

            
    //         &:hover{
    //             background-color: red;
    //         }

    //         &::after,&::before{
    //             background-color: inherit;
    //             content: '';
    //             min-width: 25px;
    //             min-height: 3px;

    //         }

    //         &::after{
    //             position: absolute;
    //             top: -8px;
    //         }
    //         &::before{
    //             position: absolute;
    //             top: 8px;
    //         }
    //     }
    // }

    &__language{
        position: absolute;
        z-index: 19;
        top: 0;
        left: -500px;
        width: 215px;
        background-color: rgb(22, 22, 22);
        padding: 0 20px 0 70px ;
        transition: all 0.3s;

        &.active{
            left: 0;
        }
        
        &_container{
            margin: 40px 0px 50px;
        }

        &_icon{
            cursor: pointer;
        }

        &_favorite{
            display: flex;
            width: 100%;
            flex-direction: column;

            &-container{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: start;
                border-bottom: 2px white solid;
            }
            
            &-title{
                margin: 20px 0;
                color: white;
                font-size: 22px;
            }

            &-list{
                margin-bottom: 20px;
                color: rgba(255, 255, 255, 0.568);
            }
        }


        &_available {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: start;

            &-title {
                margin: 20px 0 ;
                color: white;
                font-size: 18px;
            }
    
            &-lang {
                margin-bottom: 25px;
                padding: 0 0 5px 0;
                max-width: 215px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: rgba(255, 255, 255, 0.774);
                font-size: 16px;
                border-bottom: 1px solid rgb(148, 148, 148);


                & span,i{
                    cursor: pointer;

                    &:hover{
                        color: red;
                    }
                }
            }

            &-favorite{
                color: rgb(255, 255, 114);
            }
        }

    }
    
    &__color{

        &_container{
        }
    }
}


